<div class="form-content">
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-back" ng-click="back()">返回</button>
            <button class="btn btn-submit" ng-click="submit(form)">提交</button>
            <button class="btn btn-reset" ng-click="reset()">重置</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet box">
                <div class="portlet-title">
                    <div class="caption">
                        部门基本信息
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                        <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    </div>
                </div>
                <div class="portlet-body form">
                    <form name="form" class="form-horizontal" novalidate>
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6"
                                     ng-class="{ 'has-error' :(form.name.$touched || form.$submitted ) && form.name.$invalid}">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">部门名称<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" name="name" class="form-control" placeholder="部门名称"
                                                   required maxlength="255" ng-maxlength="255" ng-model="model.name"
                                                   ng-readonly="id" ng-disabled="id"/>
                                            <div class="help-block" ng-show="form.$submitted || form.name.$touched"
                                                 ng-messages="form.name.$error">
                                                <p ng-message="required">部门名称不能为空</p>
                                                <p ng-message="maxlength">部门名称不能超过255字符 </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6"
                                     ng-class="{ 'has-error' :(form.description.$touched || form.$submitted ) && form.description.$invalid}">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">部门描述<span
                                                class="text-danger">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" name="description" class="form-control"
                                                   placeholder="部门描述"
                                                   required maxlength="255" ng-maxlength="255"
                                                   ng-model="model.description"/>
                                            <div class="help-block"
                                                 ng-show="form.$submitted || form.description.$touched"
                                                 ng-messages="form.description.$error">
                                                <p ng-message="required">部门描述不能为空</p>
                                                <p ng-message="maxlength">部门描述不能超过255字符</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
