<!-- BEGIN Portlet PORTLET-->
<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-calendar" style="margin-right:3px;"></i>
            <span class="caption-subject bold uppercase">{{$state.current.data.pageTitle}}</span>
        </div>
        <div class="tools">
            <button type="button" class="btn btn-circle btn-default" data-toggle="collapse" data-target="#search"
                    aria-expanded="false" aria-controls="search">
                <i class="fa fa-angle-down"></i>
            </button>
        </div>
    </div>
    <div class="portlet-body form">
        <div id="search" class="form-horizontal collapse in" aria-expanded="true">
            <div class="row">
                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <a href="#/reimbursement/currency/create.html" class="btn green">
                            <i class="fa fa-plus"></i>&nbsp;<span>新增 </span>
                        </a>
                        <button type="button" class="btn red" ng-click="search()">
                            <i class="fa fa-search"></i>&nbsp;<span>查询 </span>
                        </button>
                    </div>
                </div>
            </div>
        <iframe src="" id="file_download" style="display:none"></iframe>
        </div>
    </div>
    <ng-table
            columns="columns"
            sort="sort"
            order="order"
            pageable="pageable"
            rows="rows">
    </ng-table>

    <script type="text/ng-template" id="operation.html">
        <div class="text-center">
            <button class="btn green btn-xs" data-ng-click="onActionClick(row,'view1')">查看</button>
            <button class="btn green btn-xs" ng-click="onActionClick(row,'edit1')">编辑</button>
            <a href="/#warring_cancel" class="btn green btn-xs" data-toggle="modal" ng-click="onActionClick(row.id,'delete')">删除</a>
            <button class="btn green btn-xs" ng-click="onActionClick(row,'download')">导出</button>
        </div>
    </script>

    <div id="warring_cancel" class="modal fade form" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="text-center">系统提示</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group text-center">
                        <span class="text-center">确定删除该报销单？</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn blue btn-primary" data-dismiss="modal" ng-click="logOut()">确定</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>